     <div>
          <p>Ocjenite dobavljača na osnovu zadatih kriterija ocjenama od 1-5.
               5 = odličan, 4 = vrlo dobar, 3 = dobar, 2 = dovoljan, 1 = nedovoljan 
          </p>
          <p class="title">{{dobavljac.nazivFirme}}</p>
          <table class='table'>
          <tbody>
               <tr >
                    <td>Bzina dostave</td>
                    <td>
                         <input #ocjena1 type="number" min=1 max=5 value="{{dobavljac.listaOcjena[0]}}">
                    </td>
               </tr>
               <tr >
                    <td>Kvaliteta</td>
                    <td>
                         <input #ocjena2 type="number" value="{{dobavljac.listaOcjena[1]}}" min=1 max=5>
                    </td>          
               </tr>
               <tr >
                    <td>Dostupnost</td>
                    <td>
                         <input #ocjena3 type="number" value="{{dobavljac.listaOcjena[2]}}" min=1 max=5>
                    </td>          
               </tr>
               <tr >
                    <td>Cijena</td>            
                    <td>
                         <input #ocjena4 type="number" value="{{dobavljac.listaOcjena[3]}}" min=1 max=5>
                    </td>          
               </tr>
               <tr >
                    <td>Usluga</td>
                    <td>
                         <input #ocjena5 type="number" value="{{dobavljac.listaOcjena[4]}}" min=1 max=5>
                    </td>          
               </tr>
          </tbody>
        </table>
          <button class="btn btn-success" (click)="handleSaveClick([ocjena1.value,ocjena2.value,ocjena3.value,ocjena4.value,ocjena5.value])">Spasi</button>
     </div>
