<div>
  <div style="width: 100%; display: flex; flex-direction: column;">
    <p><strong>Tehnologije: </strong> {{ project.tehnologije }}</p>
    <p><strong>Prihodi:</strong> {{ project.prihodi }}</p>
    <p><strong>Troskovi:</strong> {{ project.troskovi }}</p>
    <p><strong>Hardware:</strong> {{ project.potrebniHW }}</p>

    <div class="padding-5" *ngFor="let konsultant of project.konsultanti">
      <h6 style="margin-top: 13px; margin-bottom: 0;" class="float-left pname">
        {{ konsultant.ime }}
      </h6>
      <div class="progress width-70">
        <div
          class="progress-bar blue-progress float-right"
          role="progressbar"
          [ngStyle]="{
            width:
              dajPostotak(konsultant.dostupniKapacitet, konsultant.kapacitet) +
              '%'
          } "
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
        <small class="justify-content-center d-flex position-absolute w-100"
          >{{
            dajPostotak(konsultant.dostupniKapacitet, konsultant.kapacitet)
          }}
          %</small
        >
      </div>
    </div>
    <div>
      <div class="padding-15">
        <button class="btn" (click)="urediTimClick()" style="background-color: #06BCC1;">
          {{ !urediTim ? "Prikazi izvjstaj" : "Sakrij izvjestaj" }}
        </button>
      </div>
      <div>
        <div class="table-responsive " *ngIf="urediTim">
          <table class="table">
            <thead>
              <tr>
                <th>Konsultant</th>
                <th>Zauzeti sati</th>
                <th>Slobodni sati</th>
                <th>Dostupnost(Ukupno vrijeme sedmicno)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let konsultant of project.konsultanti">
                <td>
                  {{ konsultant.ime }}
                </td>
                <td>
                  {{ konsultant.kapacitet }} h ({{
                    dajPostotak(
                      konsultant.dostupniKapacitet,
                      konsultant.kapacitet
                    )
                  }}) %
                </td>
                <td>
                  {{ konsultant.dostupniKapacitet - konsultant.kapacitet }} h
                </td>
                <td>{{ konsultant.dostupniKapacitet }} h</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
