<div class="card">
  <div class="card-header">
    Spisak projekata
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Naziv</th>
            <th>Pocetak projekta</th>
            <th>Kraj projekta</th>
            <th>Broj ucesnika</th>
            <th>Pozicija</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let projekat of projekti">
            <tr>
              <td>
                {{ projekat.naziv }}
              </td>
              <td>{{ projekat.pocetakProjekta }}</td>
              <td>{{ projekat.krajProjekta }}</td>
              <td>{{ projekat.brojUcesnika }}</td>
              <td>
                {{ projekat.pozicija }}
              </td>
            </tr>
            <tr>
              <td colspan="5">
                <app-detalji-projekta
                  [project]="projekat"
                ></app-detalji-projekta>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br />
