<div class="container">
  <h1>Dobro došli!</h1>
  <div class="row">
    <div class="col-md-12 p-1">
<div class="card">
  <div class="card-header">
    Pregled stanja
  </div>
      <div class="card-body">
       <div class="row">
         <div class="col-md-3">
           <div class="card">
          <div class="card-body">
            <i class="fa fa-tag" aria-hidden="true" style="font-size: 3rem!important; color: #dc3545!important"></i>
          <br/>
                    {{dobavljaci?.length}} Dobavljača  
          </div>
           </div>
          
         </div> 
         <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <i class="fa fa-desktop" aria-hidden="true" style="font-size: 3rem!important; color:#ffc107!important"></i>
        <br/>
        
          {{projekti?.length}} Projekata 
            </div>
          </div> 
         </div> 
         <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <i class="fa fa-users" aria-hidden="true" style="font-size: 3rem!important; color: #17a2b8!important;"></i>
        <br/>
          {{konsultanti?.length}} Konsultanata  
            </div>
          </div>
         </div> 
         <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <i class="fa fa-archive" aria-hidden="true" style="font-size: 3rem!important; color:#28a745!important"></i>
            <br/>
          {{paketi?.length}} Hardware paketa  
            </div>
          </div>
         </div> 
       </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 p-1">
      <div class="card">
        <div class="card-header">
          Pregled kvalitete usluge
        </div>
        <div class="card-body">
          <app-charts *ngIf="!showMe"></app-charts>
          <!-- <app-grades *ngIf='showMe && dobavljac' [dobavljac]='dobavljac' (showMeChanged)="showMeChangedHandler($event)"
          (dobavljacChanged)="dobavljacChangedHandler($event)"></app-grades> -->
        </div>
      </div>
    </div>
  </div>
</div>
