<div class='card'>
  <div class='card-header'>
    Spisak radnika
  </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Pozicija</th>
            <th>Plata</th>
            <th>Raspolozivost</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let uposlenik of uposlenici'>
            <td>
              {{ uposlenik.ime }}
            </td>
            <td>{{ uposlenik.prezime }}</td>
            <td>{{ uposlenik.telefon }}</td>
            <td>{{ uposlenik.email }}</td>
            <td>
              {{uposlenik.pozicija}}
            </td>
            <td>
              {{uposlenik.plata}}
            </td>
            <td>
              {{uposlenik.raspolozivost}}% radnog vremena
            </td>
              <td (click)="setActiveUposlenik(uposlenik)">
              <i class="fa fa-times" (click)="openModal(confirm)"></i>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<div>
  <button type="button" class="btn btn-primary" (click)="openModal(dodajUposlenika)">Dodaj radnika</button>
</div>
<br>

<ng-template #dodajUposlenika>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Dodaj novog uposlenika</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Ime</label>
        <input type="text" formControlName="firstName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">Prazno polje</div>
        </div>
      </div>
      <div class="form-group">
        <label>Prezime</label>
        <input type="text" formControlName="lastName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Prazno polje</div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label>Telefon</label>
        <input type="text" formControlName="telefon" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.telefon.errors }" />
        <div *ngIf="submitted && f.telefon.errors" class="invalid-feedback">
          <div *ngIf="f.telefon.errors.required">Prazno polje</div>
        </div>
      </div>
      <div class="form-group">
        <label>Pozicija</label>
        <input type="projekat" formControlName="projekat" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.projekat.errors }" />
        <div *ngIf="submitted && f.projekat.errors" class="invalid-feedback">
          <div *ngIf="f.projekat.errors.required">Prazno polje</div>
        </div>
      </div>
      <div class="form-group">
        <label>Plata</label>
        <input type="number" formControlName="ekspertiza" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.ekspertiza.errors }" />
        <div *ngIf="submitted && f.ekspertiza.errors" class="invalid-feedback">
          <div *ngIf="f.ekspertiza.errors.required">Prazno polje</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #confirm>
  <div class="modal-header">
    <h4 class="modal-title">Jeste li sigurni?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Jeste li sigurni da želite nastaviti?</p>
    <button  class="btn btn-success mr-3" (click)="onContinue(uposlenik)">Da</button>
    <button class="btn btn-danger" (click)="hideModal()">Ne</button>
  </div>
</ng-template>