<form>
<div class="container pt-150">

  <div class="row padd-15">
    <div class="col-4 offset-4">
      <input type="text" class ="form-control" id="username" placeholder="Username">
    </div>
  </div>
    <div class="row padd-15">
      <div class="col-4 offset-4">
      <input type="password" class ="form-control" id="password" placeholder="Password">
    </div>
  </div>
  <div class="row padd-15">
      <div class="col-4 offset-4">
        <button class="btn btn-success full-size" routerLink="/dobavljaci">Login</button>
        <p class="register-note">Not a member? <a class="link" href="registration">Sign up now!</a></p>
    </div>
  </div>
</div>
</form>
