.full-size{
    width: 100%;
}
.padd-15{
    padding-bottom: 15px;
}
.link{
    color: blue;
}

.pt-150{
    padding-top: 150px;
}

.register-note{
    padding-left: 10rem;
    padding-top: 15px;
}

.login-container{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    padding: 9rem;
    /* padding: 15px; */
    border: 2px solid #06BCC1;
    border-radius: 4rem;
    background-color: white;
}