<div class="table-title">
    <h3>Finansije</h3>
    </div>
  <br>
    <table class="table-fill">
    <thead>
    <tr>
    <th class="text-left">Ukupni prihodi</th>
    <th class="text-left">{{finansije.prihod}}</th>
    </tr>
    </thead>
    </table>
    <br>
    <table class="table-fill">
        <thead>
        <tr>
        <th class="text-left">Ukupni troškovi</th>
        <th class="text-left">{{finansije.trosak}}</th>
        </tr>
        </thead>
    <tbody class="table-hover">
    <tr>
    <td class="text-left">Režije</td>
    <td class="text-left">{{finansije.rezije}}</td>
    </tr>
    <tr>
    <td class="text-left">Plate</td>
    <td class="text-left">{{finansije.plate}}</td>
    </tr>
    <tr>
    <td class="text-left">Oprema</td>
    <td class="text-left">{{finansije.oprema}}</td>
    </tr>
    <tr>
    <td class="text-left">Ostali troškovi</td>
    <td class="text-left">{{finansije.ostaliTr}}</td>
    </tr>
    </tbody>
    </table>
