<div class='card'>
  <div class='card-header'>
    Konsultanti
  </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>#</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Projekat</th>
            <th>Ekspertiza</th>
            <th>Obrisi</th>
            <th>Edituj</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let konsultant of konsultanti'>
            <td>
              {{konsultant.id}}
            </td>
            <td>
              {{ konsultant.ime }}
            </td>
            <td>{{ konsultant.prezime }}</td>
            <td>{{ konsultant.telefon }}</td>
            <td>{{ konsultant.email }}</td>
            <td>
              {{konsultant.projekat}}
            </td>
            <td>
              {{konsultant.ekspertiza}}
            </td>
            <td style="cursor: pointer"><i  (click)="openModal(confirm, konsultant)" class="fa fa-times"></i></td>
            <td style="cursor: pointer"><i class="fa fa-pencil" (click)="openModal(editujKonsultanta, konsultant)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<div>
  <button type="button" class="btn btn-primary" (click)="openModal(dodajUposlenika)">Dodaj novog konsultanta</button>
  <!-- <button type="button" class="btn btn-danger" (click)="openDelModal(obrisiKonsultanta)">Obrisi konsultanta</button> -->
</div>

<ng-template #dodajUposlenika>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Dodaj konsultanta</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Ime</label>
        <input type="text" formControlName="firstName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && registerForm.controls.firstName?.errors }" value="konsultant.ime" />
        <div *ngIf="submitted && registerForm.controls.firstName?.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.firstName?.errors?.required">Obavezan unos</div>
        </div>
      </div>
      <div class="form-group">
        <label>Prezime</label>
        <input type="text" formControlName="lastName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && registerForm.controls.lastName?.errors }" />
        <div *ngIf="submitted && registerForm.controls.lastName?.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.lastName?.errors?.required">Obavezan unos</div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email?.errors }" />
        <div *ngIf="submitted && registerForm.controls.email?.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.email?.errors?.required">Obavezan unos</div>
          <div *ngIf="registerForm.controls.email?.errors?.email">Neispravna email adresa</div>
        </div>
      </div>
      <div class="form-group">
        <label>Telefon</label>
        <input type="telefon" formControlName="telefon" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && registerForm.controls.telefon?.errors }" />
        <div *ngIf="submitted && registerForm.controls.telefon?.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.telefon?.errors?.required">Obavezan unos</div>
          <div *ngIf="registerForm.controls.telefon?.errors?.pattern">
            Neispravan broj telefona
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Projekat</label>
        <input type="projekat" formControlName="projekat" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && registerForm.controls.projekat?.errors }" />
        <div *ngIf="submitted && registerForm.controls.projekat?.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.projekat?.errors?.required">Obavezan unos</div>
        </div>
      </div>
      <div class="form-group">
        <label>Ekspertiza</label>
        <input type="ekspertiza" formControlName="ekspertiza" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && registerForm.controls.ekspertiza?.errors }" />
        <div *ngIf="submitted && registerForm.controls.ekspertiza?.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.ekspertiza?.errors?.required">Obavezan unos</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Spasi</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #editujKonsultanta>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edituj konsultanta</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="registerForm" (ngSubmit)="onEdit()">
      <div class="form-group">
        <label>Ime</label>
        <input type="text" formControlName="firstName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && registerForm.controls.firstName?.errors }"/>
        <div *ngIf="submitted && registerForm.controls.firstName?.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.firstName?.errors?.required">Obavezan unos</div>
        </div>
      </div>
      <div class="form-group">
        <label>Prezime</label>
        <input type="text" formControlName="lastName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && registerForm.controls.lastName?.errors }" />
        <div *ngIf="submitted && registerForm.controls.lastName?.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.lastName?.errors?.required">Obavezan unos</div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email?.errors }" />
        <div *ngIf="submitted && registerForm.controls.email?.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.email?.errors?.required">Obavezan unos</div>
          <div *ngIf="registerForm.controls.email?.errors?.email">Neispravna email adresa</div>
        </div>
      </div>
      <div class="form-group">
        <label>Telefon</label>
        <input type="telefon" formControlName="telefon" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && registerForm.controls.telefon?.errors }" />
        <div *ngIf="submitted && registerForm.controls.telefon?.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.telefon?.errors.required">Obavezan unos</div>
        </div>
      </div>
      <div class="form-group">
        <label>Projekat</label>
        <input type="projekat" formControlName="projekat" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && registerForm.controls.projekat?.errors }" />
        <div *ngIf="submitted && registerForm.controls.projekat?.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.projekat?.errors?.required">Obavezan unos</div>
        </div>
      </div>
      <div class="form-group">
        <label>Ekspertiza</label>
        <input type="ekspertiza" formControlName="ekspertiza" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && registerForm.controls.ekspertiza?.errors }" />
        <div *ngIf="submitted && registerForm.controls.ekspertiza?.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.ekspertiza?.errors.required">Obavezan unos</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Spasi</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #confirm>
  <div class="modal-header">
    <h4 class="modal-title">Jeste li sigurni?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Jeste li sigurni da želite nastaviti?</p>
    
    <button  class="btn btn-success mr-3" (click)="onDelete()">Da</button>
    <button class="btn btn-danger" (click)="modalRef.hide()">Ne</button>
  </div>
</ng-template>
