<form>
  <div class="container pt-150">    
    <div class="row padd-15">
      <div class="col-4 offset-4">
        <input type="email" class ="form-control" id="email" placeholder="Email">
      </div>
    </div>
      <div class="row padd-15">
        <div class="col-4 offset-4">
        <input type="password" class ="form-control" id="password" placeholder="Password">
      </div>
    </div>
    <div class="row padd-15">
        <div class="col-4 offset-4">
        <input type="password" class ="form-control" id="confirmPassword" placeholder="Confirm Password">
      </div>
    </div>
    <div class="row padd-15">
        <div class="col-4 offset-4">
          <button class="btn btn-success full-size">Register</button>
      </div>
    </div>
  </div>
</form>
  