.active-link{
    color: black !important;
    font-weight: 600;
    border-bottom: 2px solid cornflowerblue;
}

.nav-item{
    width: 110px;
}

#navbarSupportedContent{
    justify-content: center;
}