<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#" *ngIf="!user">The Vapourware</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    *ngIf="user"
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav " *ngFor="let route of userRoutes">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="'./'+route.key"
          routerLinkActive="active-link"
          >{{route.title}}</a
        >
      </li>
      <!-- <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/home']"
          routerLinkActive="active-link"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/hardware']"
          routerLinkActive="active-link"
          >Hardware</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/dobavljaci']"
          routerLinkActive="active-link"
          >Dobavljaci</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/konsultanti']"
          routerLinkActive="active-link"
          >Konsultanti</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/uposlenici']"
          routerLinkActive="active-link"
          >Uposlenici</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/projekti']"
          routerLinkActive="active-link"
          >Projekti</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/finansije']"
          routerLinkActive="active-link"
          >Finansije</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/tehnologije']"
          routerLinkActive="active-link"
          >Tehnologije</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/izvjestaji']"
          routerLinkActive="active-link"
          >Izvjestaji</a
        >
      </li> -->
    </ul>
  </div>
  <div style="cursor: pointer;" (click)="onUserIconClick()">
    <i class="fa fa-user" aria-hidden="true"></i> {{ user }}
  </div>
  <div
    *ngIf="showDropdown"
    style="position: absolute; top: 60px; right: 10px; background-color: white; height: 40px; width: 100px; display: flex; align-items: center; justify-content: center;"
    (click)="onLogout()"
  >
    <i class="fa fa-sign-out" aria-hidden="true" ></i>
    <p style="cursor: pointer; margin: 0;">Logout</p>
  </div>
</nav>
<br />
<div class="container">
  <router-outlet></router-outlet>
</div>
